<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kamil.aplikacja">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kamil.aplikacja.MainActivity" />
        </activity>
        <activity
            android:name=".NoteActivity"
            android:label="@string/title_activity_note"
            android:parentActivityName=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kamil.aplikacja.TestActivity" />
        </activity>

        <receiver android:name=".AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <activity
            android:name=".CountdownActivity"
            android:label="@string/title_activity_countdown"
            android:parentActivityName=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kamil.aplikacja.TestActivity" />
        </activity>
        <activity
            android:name=".ListOfNoteActivity"
            android:label="@string/title_activity_list_of_note"
            android:parentActivityName=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kamil.aplikacja.TestActivity" />
        </activity>
        <activity
            android:name=".NoteShowContent"
            android:label="@string/title_activity_note_show_content"
            android:parentActivityName=".ListOfNoteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kamil.aplikacja.ListOfNoteActivity" />
        </activity>
        <activity
            android:name=".PrimeNumberActivity"
            android:label="@string/title_activity_prime_number"
            android:parentActivityName=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kamil.aplikacja.TestActivity" />
        </activity>
    </application>

</manifest>